<%= form_for(@article, :html => { :class => "editForm", :multipart => true }) do |f| %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :desc %><br />
		<%= f.text_area :desc, :class => 'textareaInputSmall' %>
	</p>
	<p>
		<%= f.label :sourcecode %><br />
		<%= f.text_area :sourcecode %>
	</p>
	
	<%= f.fields_for :tags do |builder| %>
		<%= render 'tag_fields', :f => builder %>
	<% end %>
	
	<p><%= link_to_add_fields "Add Tag", f, :tags %></p>
	
	<p>
		<%= f.fields_for :assets do |asset| %>
		
			<% if asset.object.new_record? %>
			<div class="formrow">
				<%= asset.file_field :image %>
			</div>
			<% end %>
		<% end %>
	</p>
	<div class="paperclipExistingFiles">
		<%= f.fields_for :assets do |asset| %>
			<% unless asset.object.new_record? %>
				<div class="thumbnail">
					<%= link_to( image_tag(asset.object.image.url(:original)), asset.object.image.url(:original)) %>
				</div>
			<% end %>
		<% end %>
	</div>
	
	<%= f.submit %>
<% end %>