<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/stylesheets'%>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'coderay' %> 
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
	
<h1><a href="/"><img src="/images/tool.png" alt="MyHelpToolbox" /></a><span>Home</span></h1>

<div id="adminLinks">
<% if admin? %>
	<a href="/logout">Logout</a>
<% else %>
	<a href="/login">Login</a>
<% end %>
</div>

<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/articles">View all</a></li>
    <li id="searchItem">
		<%= form_tag articles_path, :method => 'get' do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
		<% end %>
    </li>
	
</ul>

<div class="sideBar">

    <div class="tagPanel">

        <h3 id="tagListHeader">Tags</h3>

		
		
        <ul class="tagList">
	
			<%#= @sidebar %>

			<% @tags = Tag.find( :all, :select => "DISTINCT name", :order => "name ASC" ) %>
			<% for tag in @tags %>		
				<li><a href="/tags/<%=h(tag.name) %>"><%= tag.name %></a></li>
			<% end %>
			

	    </ul>

    </div>

</div>

<div class="main">
	
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
	<% end %>
	
	<%= yield %>

</div>

<div id="footer">
	<p>Built by <a href="http://www.njedesign.com">NJE Design</a> using ruby on rails.</p>
</div>

</div>

</body>
</html>

